

.container{
    position:relative;
   

}

#map{
    width: 100%;
    height: 100vh;    
    z-index:0;
}



#loading{
   position:absolute;
   position: absolute; 
   top: 25%; 
   left: 25%;
   display: none;
   z-index:1;
}






#menu-container{
    position: absolute;
    left: 0;
    top:40%;
    width: 250px;
    padding: 15px;
    z-index:2;


}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
